<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="name">
	<f:translate key="tx_basicschool_domain_model_teacher.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="department">
	<f:translate key="tx_basicschool_domain_model_teacher.department" />
</label><br />
	<f:form.textfield property="department" /><br />
<label for="email">
	<f:translate key="tx_basicschool_domain_model_teacher.email" />
</label><br />
	<f:form.textfield type="email" property="email" /><br />
</html>