<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="class">
	<f:translate key="tx_basicschool_domain_model_student.class" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="class" /><br />
<label for="name">
	<f:translate key="tx_basicschool_domain_model_student.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="marks">
	<f:translate key="tx_basicschool_domain_model_student.marks" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="marks" /><br />
<label for="attendence">
	<f:translate key="tx_basicschool_domain_model_student.attendence" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="attendence" /><br />
</html>