<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-basic-school" >
	<tr>
		<td>
			<f:translate key="tx_basicschool_domain_model_student.class" />
		</td>
		<td>
		{student.class}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_basicschool_domain_model_student.name" />
		</td>
		<td>
		{student.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_basicschool_domain_model_student.marks" />
		</td>
		<td>
		{student.marks}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_basicschool_domain_model_student.attendence" />
		</td>
		<td>
		{student.attendence}
		</td>
	</tr>
</table>
</html>